language = "cpp"
run = "clang++ -std=c++17 -Weverything -Wno-c++98-compat -Wno-missing-prototypes -Wno-padded main.cpp Character.cpp Utility.cpp AttackItem.cpp DefensiveItem.cpp Dragon.cpp DragonSlayer.cpp Dwarf.cpp HelpfulItem.cpp Paladin.cpp && ./a.out"
